<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div style="text-align: right;    font-size: 13px;">
    新闻 hao123 地图 视频 贴吧 学术 登录 设置
  </div>
  <img width="270px;" alt="Angular Logo" src="https://www.baidu.com/img/bd_logo1.png">
  <br>  <br>
  <input type="text" style="width: 540px;height: 30px;">
  <button  style="width: 100px;height: 36px;    background: #3385ff;color: #fff;border: none;position: relative;top: 1px;">搜索</button>
</div>
 

<router-outlet></router-outlet>
